div.table .table-header, div.table .table-body ion-row {
    border-bottom: 1px solid #dddddd;
    padding:5px 0px;
} 
div.table .table-header {
    background: #f8f8f8;
}
div.table .table-header ion-row ion-col:last-child, div.table .table-body ion-row ion-col:last-child {
    text-align: right;
}
div.table {
    margin:20px 0px;
}
.highlight {
    background: #dddddd;
}
.total {
    font-size:24px;
    padding:10px 0px;
    border-bottom: 1px solid #dddddd;
}
.block {
    display: block;
}
.left {
    text-align: left !important;       
}
.bold {
    font-weight: bold;
}
